/*  .principalPage{

 
    


  
} 
 */


/* css para los navigationItems que contienen el <logo> y <navigationItems> */
 /* .NavigationItems{
  background-color: tomato; 
  text-align: start;
    margin-left: 60px;
    position: relative;
    right: 30px;
 
} */


/* @media (min-width: 300px) and (max-width: 600px) {

  .principalPage{
    
   display: flow-root;
  }

  .NavigationItems{
    background-color: chartreuse;
  }
} */
/* 
@media (min-height: 680px) and (max-height: 826px) {

  .principalPage{
  
    width: fit-content;
   background-color: blueviolet;
    
   
   }

} */





