
.principalPage{
  background-color: rgba(128, 128, 128, 0.432);
  padding: 30px;
  margin:10%;
  display: flex;
  justify-content: space-between;
  
}



/* css para los navigationItems que contienen el <logo> y <navigationItems> */
.NavigationItems{
  /* background-color: tomato; */
  text-align: start;
  margin:0;

}




