body{
  height:100%;
  background-image: url('./assets/images/body2.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  /* La imagen se fija en la ventana de visualización para que la altura de la imagen no supere a la del contenido */
  background-attachment: fixed;

  
}
.App {
  text-align: center;
  height:100%;
}
