body{
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    background-image: url(assets/images/body2.jpeg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center center;   
    
}

.App{
    background-color: lightseagreen;
}

@media only screen and (max-width: 767px) {

    body {
    
    background-image: url(assets/images/body2.jpeg);
    
    }
}

